PORT=3014
NODE_ENV=development
JWT_SECRET=megamart-local-jwt-secret-change-me
INTERNAL_SERVICE_TOKEN=megamart-local-service-token-change-me
HTTP_TIMEOUT_MS=5000
PRODUCT_SERVICE_URL=http://localhost:3003
RATING_SERVICE_URL=http://localhost:3012
